
choice LIGHTMODBUS_SLAVE_BASE
	bool "light modbus slave"
	optional

config LIGHTMODBUS_F01S
	bool "1 (0x01) — чтение значений из нескольких регистров флагов (Read Coil Status)."
	default y
config LIGHTMODBUS_F02S
	bool "2 (0x02) — чтение значений из нескольких дискретных входов (Read Discrete Inputs)."
	default y
config LIGHTMODBUS_F03S
	bool "3 (0x03) — чтение значений из нескольких регистров хранения (Read Holding Registers)."
	default y
config LIGHTMODBUS_F04S
	bool "4 (0x04) — чтение значений из нескольких регистров ввода (Read Input Registers)."
	default y
config LIGHTMODBUS_F05S
	bool "5 (0x05) — запись значения одного флага (Force Single Coil)."
	default y
config LIGHTMODBUS_F06S
	bool "6 (0x06) — запись значения в один регистр хранения (Preset Single Register)."
	default y
config LIGHTMODBUS_F15S
	bool "15 (0x0F) — запись значений в несколько регистров флагов (Force Multiple Coils)."
	default y
config LIGHTMODBUS_F16S
	bool "16 (0x10) — запись значений в несколько регистров хранения (Preset Multiple Registers)."
	default y
config LIGHTMODBUS_F22S
	bool "22 (0x16) — запись в один регистр хранения с использованием маски 'И' и маски 'ИЛИ' (Mask Write Register).
    Команда состоит из адреса регистра и двух 16-битных чисел, которые используются как маски, 
    с помощью которых можно индивидуально сбросить или установить отдельные биты в регистре. Конечный результат определяется формулой:
    Результат = (Текущее_значение AND Маска_И) OR (Маска_ИЛИ AND (NOT Маска_И))"

endchoice
